*{
    font-family: Inria Serif;
}
    input text {
        padding: 0 0 400px 0;
    }
.app{
    display: flex;
}
.row{
    width: 100%;
    font-size:1vw;
}
.div1{
    /* display: block ; */
    padding: 15px;
    width: 100%;
    display:inline-table;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 89.84%;
    background: #F6E2E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family:  Serif;
    
    /* font-size:1.8vw; */
    font-weight: 200;
    font-size: 40px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  
}
.red-star {
    color: red;
}
.div2{

    display: block;
    /* padding: 80px; */
    
    position: absolute;
    left:1%;
    right: 0%;
    top: 12%;
    bottom: 0%;
    background: white;
    align-content: center;
    
}
.Submit{
    text-align: center;
    width: 100%;
    height: 200px;
    padding-top: 100px;
        
}
.resizedTextbox {width: 600px; height: 50px}


/* Dashboard styles */
.page2{
position:absolute;
padding: 20px;
width: 1440px;
height: 137px;
left: 0px;
top: 0px;

background: #F7E2E2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    width: 60px;
    height: 40px;
}

.logo2{
    display:block;
        width: 30px;
        height: 30px;
    }
        

.FONT{
    font-family: Inria Serif;
    Font-size: 20px;
  
    
}
.tab {
    float: right;
   }
.btn-rounded {
    border-radius: 10rem;

}
.btn {
    /* text-transform: uppercase; */
    vertical-align: bottom;
    background-color: #F6E2E2;
    border: 0;
    
    font-weight: 500;
    /* padding: 0.625rem 1.5rem 0.5rem; */
    /* font-size: .75rem; */
    font-size: 15px;
    line-height: 1.5;
    
    box-shadow:0 0 0 .2rem #C4C4C4
}
.active{
    background-color: #F5EFEF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 0.625rem 1.5rem 0.5rem;
    color: black;
}
.btn:hover:not(.active){
    background-color: #F5EFEF;
    color: black;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.25); */
}

.mdlBtn{
   text-align: center;
}
.hover{
    width: 147px;
    height: 35px;
}
.leftdv

{

    display: flex; 
    justify-content: space-between;

}
.rightdv

{
display: flex;

}
.tableStyle{
    padding: 20px;
    margin-top: 85px;
    background-color:  white;
    /* height: 500px; */
    font-family: Inria Serif;
    Font-size: 15px;
    box-shadow:rgba(0, 0, 0, 0.25) ;
    /* border: aqua; */

   
}
.mytable, .th, .td {
    
    width:90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: #C4C4C4;
        text-align: center;
        padding: 20px;
        stroke-linecap: butt;
        border-collapse:collapse;
  border-spacing: 2px;
  width: 100%;
  border: 1px solid #ddd;
}
.tableHead{
    
    row-gap: 5px;
    background-color:#C4C4C4;
    
}
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
/* hover images*/
.hover1 {
    position: relative;
    display: inline-block;

  }
  

/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;} */


  .center {
    margin-left: auto;
    margin-right: auto;
  }

  #clickable_div {width:100px; height:50px; background-color:#F6E2E2;}
*{margin: 1px;; padding: 0;}
#nav_menu{width:100px; height:auto; background-color:rgb(215, 23, 23);display:none;}

#wrap{ width:20px ; background-color: #F6E2E2; }
